body{
    background-image: url("../img/back.svg");
}

#menu-aulas{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 70vh;
    width:100%;
    margin-top: 30px;
}

#menu{
    background-color: aliceblue;
    width:80%;
    border-radius:15px;
}

.botao{
	transition-duration: 0.4s;
    border: 5px solid gray;
  }
  
.botao:hover {
	background-color: #5865f265; /* Green */
	color: white;
}
