$primary:#5865f2;

* {
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif !important; 
	background-image: url("../img/back.svg");
	background-attachment: fixed;
}

.navbar-light {
	
	.navbar-nav {

		.nav-link{
			border-radius: 15px;
			padding: 13px;
			color: #acb2f9 !important;
			margin: 10px;
		}

	  .show > .nav-link,
	  .nav-link.active {
		color: #5161ce !important;
		margin: 10px;
		background-color: #fff;
		padding: 13px;
		border-radius: 15px;
		transition-duration: 0.8s;
		transition-timing-function: ease-in-out;
	  }
	}
	
  }

.navbar-brand{
    margin-left: 10px;
}

.img-logo{
    max-width: 50px;
}


 /*footer*/
 .discord, .facebook, .instagram, .github{
	border-radius: 15px !important;
}

.discord, .facebook{
	background-color: #3b5998 !important;
}

.instagram{
	background-color: #ac2bac !important;
}

.github{
	background-color: #333333 !important;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import "../../../node_modules/bootstrap/scss/bootstrap;
